/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Outfit:wght@300;400;600;700&display=swap");

/* Css Timer settings */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	margin: 0 auto;
}

/* PROGRESS INDICATOR */
#timer-main-container {
	display: inline-block;
	text-align: center;
	position: relative;
	/* font-family: "Inter", sans-serif; */
	font-family: "Outfit", sans-serif;
	left: 80%;
	top: 10%;
}

.circle-container {
	width: 150px;
	height: 150px;
	background-color: #00ffff;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}

.semicircle {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* Sposto l'origine di rotazione */
	transform-origin: right center;
}

.semicircle:nth-child(1) {
	background: rgb(196, 164, 200);
	position: absolute;
	z-index: 2;
}
.semicircle:nth-child(2) {
	background-color: #00ffff;
	position: absolute;
	z-index: 3;
	rotate: 180deg;
	/* display: none; */
}
.semicircle:nth-child(3) {
	background: #00ffff;
	position: absolute;
	z-index: 4;

	/* display: none; */
}

.outermost-circle {
	width: 118px;
	height: 118px;
	background-image: url(../assets/Screenshot\ 2023-09-18\ 215544.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	border-radius: 50%;
	top: 16px;
	left: 16px;
	z-index: 5;

	/* display: none; */
}

/* TIMER */
.timer-container {
	width: 140px;
	height: 170px;
	border-radius: 50%;
	z-index: 6;
	position: absolute;
	top: 15px;
	left: 15px;
	font-weight: 300;
	font-family: "Outfit";
	color: white;
}

.timer-container p {
	position: absolute;
	font-size: 0.6em;
}
.timer-container > p {
	position: absolute;
	left: 38px;
	top: 20px;
}
.timer-container p:last-child {
	position: absolute;
	left: 38px;
	top: 85px;
}

.timer {
	display: inline;
	font-size: 2.5em;
	position: absolute;
	left: 44px;
	top: 25px;
}
.timer div {
	position: absolute;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
}

.timer .colon {
	position: absolute;
	left: -4px;
}
