
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Outfit:wght@400;700&display=swap');
  
* {
    font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif;

}



h1 {color: white;
    font-size: 5em;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    display: block;
    margin-top: 0;
    padding-top: 0;
    

line-height: 0.8;
}


h2
{
    color: white;
    font-size: 5em;
    padding-bottom: 0em;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    display: block;
    margin-bottom: 0px;
    
}


h3 {color: rgb(187, 23, 143);
    margin-top: 2em ;
    margin-bottom: 1.5em;
    font-size: larger;
    font-weight: bolder;


}
#logo-epicode
{
    width: 15em;
    margin: 4em 0 7em 5em;
    margin-bottom: auto;

}
body {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
main {
    margin: 3em 0 7em 5em;
}
ul li {
    color: white;
    padding: 0.3em;
    margin-left: 3em;

     }
  ul li span {
    font-size: large;
    font-weight: bold;
  }
   div {
    color: white;

   }

   .container {
    display: flex;
    align-items: center;
    margin-right: 20px;
   }
   .container #myCheckbox { 
    display: none;
    }
    
    
   button {
    background-color: aqua;
    font-family:'Outfit', sans-serif ;
    font-weight: bolder;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin: auto;
    border: none;
    border-color: aqua;
    box-shadow: 0px 0px 50px rgb(34, 214, 230);
    cursor: pointer;

     }

    #myLabel
 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    cursor: pointer;
    margin-right: 0;
    padding-left: 2px;
 }
 p {
    margin-left: 15px;
    line-height: 1.2em;
    padding: 0.5em;

 }
  #myCheckbox {
      font-size: large;
      background-color: transparent;
      border: 1px solid white; 


  }
    

  label {
    margin: 1em;
    padding: 0;
    display: inline-block;
    color: white;
  }

  #num {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: large;
  }

  #diff 
  {
    background-color: rgb(9, 16, 57);
    border-radius: 10px;
    color: white;
    font-size: large;
    
  }



   

